<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="HK2_ScrollTop" setup_version="1.1.0">
        <sequence>
            <module name="Magento_Theme"/>
            <module name="HK2_Base"/>
        </sequence>
    </module>
</config>