.scrollTop_div {
    height: 40px;
    position: fixed;
    right: 15px;
    width: 40px;
    z-index: 9999;
    bottom: 4px;
    background-color: #404040;
    padding: 3px 2px;
    border-radius: 5px 5px 0 0;
    color: #fecc0b !important;
    cursor: pointer;
}

.scrollTop_div:hover {
    text-decoration: none;
    border: 2px solid #73cf87;
}